<?xml version="1.0"?>
<robot name="skid_steer_bot"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="robot_base.xacro"/>
  <xacro:include filename="robot_control.xacro"/>
  <xacro:include filename="robot_sim.xacro"/>
  <xacro:include filename="robot_sensors.xacro"/>

  <xacro:base/>
  <xacro:control/>
  <xacro:sim/>
  <xacro:sensors/>

</robot>