<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="sim">

    <gazebo>
      <plugin filename="libign_ros2_control-system.so"
              name="ign_ros2_control::IgnitionROS2ControlPlugin">

        <parameters>$(find description)/config/controllers.yaml</parameters>

      </plugin>
    </gazebo>

  </xacro:macro>

</robot>